
<img src="../../img/ods_stickers.jpg">

## <center> [mlcourse.ai](https://mlcourse.ai) – открытый курс OpenDataScience по машинному обучению 

Автор материала: Юрий Кашницкий (@yorko в Slack ODS). Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько женщин (признак *sex*) представлено в этом наборе данных?**

In [3]:
# Ваш код здесь
len(data[data['sex']=='Female'])

10771

**2. Каков средний возраст (признак *age*) женщин?**

In [4]:
# Ваш код здесь
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [5]:
# Ваш код здесь
germany_mans = (data['native-country'] == 'Germany').mean()
print('Доля граждан Германии - ', germany_mans)

Доля граждан Германии -  0.004207487485028101

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [6]:
# Ваш код здесь
data[data['salary'] == '<=50K']['age'].describe()[['mean', 'std']]

mean    36.783738
std     14.020088
Name: age, dtype: float64

In [7]:
# Ваш код здесь
data[data['salary'] != '<=50K']['age'].describe()[['mean', 'std']]

mean    44.249841
std     10.519028
Name: age, dtype: float64

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [8]:
# Ваш код здесь
data[data['salary'] == '>50K']['education'].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

Ответ: нет

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [9]:
# Ваш код здесь
columns_to_show = ['age']

data.groupby(['race', 'sex'])[columns_to_show].describe()

                               age                                          \
                             count       mean        std   min   25%   50%
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0


                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

Ответ: 80

**8. Среди кого больше доля зарабатывающих больше (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [10]:
# Ваш код здесь

married_num = len(data[data['marital-status'].apply(lambda x: 'Married' in x) & (data['salary'] == '>50K')])
not_married_num = len(data[data['marital-status'].apply(lambda x: 'Married' not in x) & (data['salary'] == '>50K')])

print(married_num > not_married_num)

True

Ответ: женатых мужчин с зарплатой больше 50К больше

**9. Какое максимальное количество часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [11]:
# Ваш код здесь
max_working_hours = data['hours-per-week'].describe()['max']
print("Максимальное количество часов работы в неделю", max_working_hours)

Максимальное количество часов работы в неделю 99.0

In [12]:
max_working_hours_count = data[data['hours-per-week'] == max_working_hours]['age'].count()
print('Количество людей, работающих по 99 часов в неделю - ', max_working_hours_count)

Количество людей, работающих по 99 часов в неделю -  85

In [13]:
print('Среди них процент людей, зарабатывающих много, - ', \
      data[(data['hours-per-week'] == max_working_hours) & (data['salary'] == '>50K')]['age'].count()/max_working_hours_count
     )

Среди них процент людей, зарабатывающих много, -  0.29411764705882354

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [14]:
# Ваш код здесь
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

columns_to_show = ['hours-per-week']

data.groupby(['native-country', 'salary'])[columns_to_show].describe()

                                  hours-per-week                              \
                                           count       mean        std   min
native-country             salary
?                          <=50K           437.0  40.164760  12.817002   1.0
                           >50K            146.0  45.547945  10.202827   8.0
Cambodia                   <=50K            12.0  41.416667   3.088346  40.0
                           >50K              7.0  40.000000   0.000000  40.0
Canada                     <=50K            82.0  37.914634  13.012056   8.0
                           >50K             39.0  45.641026  12.066673  20.0
China                      <=50K            55.0  37.381818  11.439844   1.0
                           >50K             20.0  38.900000  10.125008  10.0
Columbia                   <=50K            57.0  38.684211   8.610952   5.0
                           >50K              2.0  50.000000   0.000000  50.0
Cuba                       <=50K            70.0  37.985714   9.960055   5.0
                           >50K             25.0  42.440000  12.453514  14.0
Dominican-Republic         <=50K            68.0  42.338235  11.121594  22.0
                           >50K              2.0  47.000000   9.899495  40.0
Ecuador                    <=50K            24.0  38.041667  10.251105  22.0
                           >50K              4.0  48.750000   2.500000  45.0
El-Salvador                <=50K            97.0  36.030928   9.396867   3.0
                           >50K              9.0  45.000000   7.071068  35.0
England                    <=50K            60.0  40.483333  15.177472   7.0
                           >50K             30.0  44.533333  11.072592  20.0
France                     <=50K            17.0  41.058824  12.401969  15.0
                           >50K             12.0  50.750000  16.360290  40.0
Germany                    <=50K            93.0  39.139785  12.121299   6.0
                           >50K             44.0  44.977273  11.944618   8.0
Greece                     <=50K            21.0  41.809524  16.857103   4.0
                           >50K              8.0  50.625000  11.783008  35.0
Guatemala                  <=50K            61.0  39.360656   6.570218  18.0
                           >50K              3.0  36.666667   5.773503  30.0
Haiti                      <=50K            40.0  36.325000  11.943000  10.0
                           >50K              4.0  42.750000   9.142392  35.0
Holand-Netherlands         <=50K             1.0  40.000000        NaN  40.0
Honduras                   <=50K            12.0  34.333333   8.626949  17.0
                           >50K              1.0  60.000000        NaN  60.0
Hong                       <=50K            14.0  39.142857   4.294131  30.0
                           >50K              6.0  45.000000  10.000000  40.0
Hungary                    <=50K            10.0  31.300000  18.595400   3.0
                           >50K              3.0  50.000000  10.000000  40.0
India                      <=50K            60.0  38.233333  12.617403   8.0
                           >50K             40.0  46.475000  10.056220  20.0
Iran                       <=50K            25.0  41.440000  12.440123   6.0
                           >50K             18.0  47.500000  10.325582  30.0
Ireland                    <=50K            19.0  40.947368   7.183884  25.0
                           >50K              5.0  48.000000  10.954451  40.0
Italy                      <=50K            48.0  39.625000  15.090683   6.0
                           >50K             25.0  45.400000   9.495613  20.0
Jamaica                    <=50K            71.0  38.239437   9.673919  10.0
                           >50K             10.0  41.100000   4.954235  35.0
Japan                      <=50K            38.0  41.000000  11.902759  10.0
                           >50K             24.0  47.958333  16.120414  21.0
Laos                       <=50K            16.0  40.375000   4.112988  31.0
                           >50K              2.0  40.000000   0.000000  40.0
Mexico                     <=50K           610.0  40.003279  10.377441   4.0
                           >50K             33.0  46.575758  10.917390  30.0
Nicaragua                  <=50K            32.0  36.093750   8.663454  11.0
                           >50K              2.0  37.500000   3.535534  35.0
Outlying-US(Guam-USVI-etc) <=50K            14.0  41.857143  10.747859  24.0
Peru                       <=50K            29.0  35.068966  11.609513   4.0
                           >50K              2.0  40.000000   0.000000  40.0
Philippines                <=50K           137.0  38.065693  11.265646   8.0
                           >50K             61.0  43.032787   8.445842  35.0
Poland                     <=50K            48.0  38.166667  12.237600   3.0
                           >50K             12.0  39.000000   9.779385  10.0
Portugal                   <=50K            33.0  41.939394   9.062075  30.0
                           >50K              4.0  41.500000   5.972158  36.0
Puerto-Rico                <=50K           102.0  38.470588   9.745988   6.0
                           >50K             12.0  39.416667  11.057357   8.0
Scotland                   <=50K             9.0  39.444444   9.166667  20.0
                           >50K              3.0  46.666667  11.547005  40.0
South                      <=50K            64.0  40.156250  16.831771   4.0
                           >50K             16.0  51.437500  10.942082  35.0
Taiwan                     <=50K            31.0  33.774194  14.270505   2.0
                           >50K             20.0  46.800000  13.485275  27.0
Thailand                   <=50K            15.0  42.866667  20.413114  10.0
                           >50K              3.0  58.333333  14.433757  50.0
Trinadad&Tobago            <=50K            17.0  37.058824  12.477332  14.0
                           >50K              2.0  40.000000   0.000000  40.0
United-States              <=50K         21999.0  38.799127  12.400570   1.0
                           >50K           7171.0  45.505369  11.025092   1.0
Vietnam                    <=50K            62.0  37.193548  12.422664   1.0
                           >50K              5.0  39.200000   1.788854  36.0
Yugoslavia                 <=50K            10.0  41.600000  11.305849  20.0
                           >50K              6.0  49.500000  11.202678  40.0


                                     25%   50%    75%   max
native-country             salary
?                          <=50K   40.00  40.0  45.00  99.0
                           >50K    40.00  40.0  50.00  80.0
Cambodia                   <=50K   40.00  40.0  40.50  50.0
                           >50K    40.00  40.0  40.00  40.0
Canada                     <=50K   32.75  40.0  40.00  70.0
                           >50K    40.00  45.0  51.00  72.0
China                      <=50K   36.00  40.0  40.00  60.0
                           >50K    38.00  40.0  41.25  60.0
Columbia                   <=50K   40.00  40.0  40.00  60.0
                           >50K    50.00  50.0  50.00  50.0
Cuba                       <=50K   40.00  40.0  40.00  70.0
                           >50K    40.00  40.0  50.00  60.0
Dominican-Republic         <=50K   40.00  40.0  40.00  98.0
                           >50K    43.50  47.0  50.50  54.0
Ecuador                    <=50K   30.00  40.0  40.00  66.0
                           >50K    48.75  50.0  50.00  50.0
El-Salvador                <=50K   32.00  40.0  40.00  60.0
                           >50K    40.00  45.0  50.00  55.0
England                    <=50K   40.00  40.0  45.00  99.0
                           >50K    40.00  40.0  50.00  85.0
France                     <=50K   40.00  40.0  50.00  66.0
                           >50K    40.00  47.5  50.00  99.0
Germany                    <=50K   38.00  40.0  45.00  70.0
                           >50K    40.00  45.0  50.00  70.0
Greece                     <=50K   40.00  40.0  55.00  75.0
                           >50K    40.00  50.0  61.25  65.0
Guatemala                  <=50K   40.00  40.0  40.00  60.0
                           >50K    35.00  40.0  40.00  40.0
Haiti                      <=50K   30.00  40.0  40.00  75.0
                           >50K    38.75  40.0  44.00  56.0
Holand-Netherlands         <=50K   40.00  40.0  40.00  40.0
Honduras                   <=50K   30.00  37.5  40.00  45.0
                           >50K    60.00  60.0  60.00  60.0
Hong                       <=50K   37.75  40.0  40.00  50.0
                           >50K    40.00  40.0  43.75  65.0
Hungary                    <=50K   20.00  30.0  47.50  60.0
                           >50K    45.00  50.0  55.00  60.0
India                      <=50K   35.00  40.0  40.00  84.0
                           >50K    40.00  41.5  50.00  72.0
Iran                       <=50K   40.00  40.0  48.00  65.0
                           >50K    40.00  45.0  53.75  70.0
Ireland                    <=50K   38.00  40.0  42.00  55.0
                           >50K    40.00  40.0  60.00  60.0
Italy                      <=50K   38.75  40.0  40.00  80.0
                           >50K    40.00  40.0  50.00  67.0
Jamaica                    <=50K   35.00  40.0  40.00  70.0
                           >50K    38.50  40.0  40.00  50.0
Japan                      <=50K   40.00  40.0  41.50  65.0
                           >50K    40.00  42.5  50.00  99.0
Laos                       <=50K   40.00  40.0  40.00  50.0
                           >50K    40.00  40.0  40.00  40.0
Mexico                     <=50K   40.00  40.0  40.00  99.0
                           >50K    40.00  40.0  50.00  80.0
Nicaragua                  <=50K   30.00  40.0  40.00  60.0
                           >50K    36.25  37.5  38.75  40.0
Outlying-US(Guam-USVI-etc) <=50K   36.25  40.0  50.25  60.0
Peru                       <=50K   28.00  40.0  40.00  60.0
                           >50K    40.00  40.0  40.00  40.0
Philippines                <=50K   40.00  40.0  40.00  99.0
                           >50K    40.00  40.0  40.00  80.0
Poland                     <=50K   40.00  40.0  40.00  65.0
                           >50K    40.00  40.0  40.00  50.0
Portugal                   <=50K   40.00  40.0  40.00  84.0
                           >50K    39.00  40.0  42.50  50.0
Puerto-Rico                <=50K   36.00  40.0  40.00  80.0
                           >50K    40.00  40.0  42.50  50.0
Scotland                   <=50K   40.00  40.0  40.00  55.0
                           >50K    40.00  40.0  50.00  60.0
South                      <=50K   35.00  40.0  48.50  99.0
                           >50K    40.00  50.0  60.00  70.0
Taiwan                     <=50K   20.00  40.0  40.00  60.0
                           >50K    40.00  40.0  55.00  84.0
Thailand                   <=50K   35.00  40.0  52.50  80.0
                           >50K    50.00  50.0  62.50  75.0
Trinadad&Tobago            <=50K   35.00  40.0  40.00  60.0
                           >50K    40.00  40.0  40.00  40.0
United-States              <=50K   35.00  40.0  40.00  99.0
                           >50K    40.00  40.0  50.00  99.0
Vietnam                    <=50K   40.00  40.0  40.00  77.0
                           >50K    40.00  40.0  40.00  40.0
Yugoslavia                 <=50K   40.00  40.0  40.00  66.0
                           >50K    40.00  46.0  58.00  65.0